<h1>Hello World</h1>
<!--<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Email: <input type="text" name = "user[email]"><br>
  Username: <input type="text" name = "user[username]"><br>
  Password: <input type="password" name = "user[password]"><br>
  <input type="submit">
</form>-->
<!--<%= form_tag("/users", method: "post") do %>
  <%= label_tag("user[email]", "Email: ") %>
  <%= text_field_tag("user[email]") %>
  <%= label_tag("user[username]", "Username: ") %>
  <%= text_field_tag("user[username") %>
  <%= label_tag("user[password]", "Password:") %>
  <%= password_field_tag("user[password]") %>
  <%= submit_tag("Enter") %>
<% end %>-->
<%= form_for @user do |f| %>
  Email    : <%= f.text_field :email %><br />
  Username : <%= f.text_field :username %><br />
  Password : <%= f.password_field :password %><br />
  <%= f.submit %>
<% end %>


